.App{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.app-header > h2{
  color: white;
  font-size: 50px;
  font-weight: 400;
  border-left: 2px solid  rgb(255, 25, 0);
  border-bottom: 2px solid  rgb(255, 25, 0);
  padding: 30px 15px;
}

input{
  width: 400px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background: rgb(37, 35, 35);
  color: white;
}
button{
  padding: 12px 30px;
  margin-left: 12px;
  border: none;
  outline: none;
  background:  rgb(255, 25, 0);
  color: white;
  cursor: pointer;
}
button:focus{
  background: none;
  border: 1px solid  rgb(255, 25, 0);
}

input:focus{
  border: 1.5px solid rgb(255, 25, 0);
}