  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.options-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
  .header{
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  .header>h3{
    font-weight: 300;
  }
  .header>h1{
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 3px;
  }

  .options{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height:100px;
    border: 1px solid rgb(145, 142, 142);
    border-radius: 10px;
    padding: 6px 12px;
  }
  .logo-details{
  margin-left: 22px;
}
.logo-details>h3{
    font-size: 17px;
    font-weight: 500;
    color: rgb(41, 39, 39);
}
.logo-details>p{
    font-size: 15px;
    color: gray;
}
.options:hover{
    background: rgba(185, 181, 181, 0.486);
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    scale: 1.03;
}

  .logo{
    width: 30px;
    height: 30px;
    background: linear-gradient(red,rgb(252, 144, 162));
    border-radius: 50%;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 15px;
}

a{
  text-decoration: none;
}

